################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs

/Domain/bin
/Domain/obj

/AuthenticationService/bin
/AuthenticationService/obj

/ApiGateWay/bin
/ApiGateWay/obj

/.vs/UserAuthentication
/UserAuthentication/bin
/UserAuthentication/obj


/ApiGateWay/obj/Debug/net8.0/ApiGateWay.sourcelink.json
/AuthenticationService/bin/Debug/net8.0/Domain.dll
